.MuiOutlinedInput-input{
    padding: 10px;
}   
.MuiSelect-outlined .MuiInputBase-input .MuiOutlinedInput-input{
    padding: 10px;
}

.tableHeader{
    font-size: 24px;
    font-weight: 600;
}
.selectBox{
    .MuiOutlinedInput-input{
        padding: 8px;
    } 
}